* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: black;
  user-select: none;
}

header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 30px 5%;
}

header .logo {
  font-size: 35px;
  font-weight: 700;
  color: white;
}

header .logo:hover {
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  transition: 0.5s;
}

header nav {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

header nav a {
  color: white;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

header .btn {
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  background: white;
  transition: 0.3s;
}

header .btn:hover {
  background: transparent;
  color: white;
}

header nav a.active {
  color: yellowgreen;
}

header nav a::after {
  text-decoration: underline;
  transition: 0.3s;
  color: yellowgreen;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: yellowgreen;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  display: flex;
  justify-content: center;
  max-width: 650px;
  align-items: center;
  background: yellowgreen;
  height: 100vh;
}

main .textContainer {
  padding: 5%;
}

main .textContainer h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 2.8rem;
}

main .textContainer p {
  margin-top: 3%;
  font-size: 20px;
  font-weight: 600;
}

main .textButtons {
  margin-top: 5%;
  display: flex;
  justify-content: start;
  gap: 10px;
}

main .textButtons a:hover {
  background: transparent;
  color: black;
  transition: 0.5s;
}

main .textButtons a {
  color: white;
  border: 2px solid black;
  background: black;
  border-radius: 5px;
  padding: 2% 3%;
  font-weight: 700;
}
